.editor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
  }

.DraftEditor-root {
    color:  #F8F8FB;
    height: 296px;
    width: 688px;
    background: #191B20;
    border-radius: 16px;
    padding: 16px;
}

.DraftEditor-editorContainer {
    height: 100%;
}

.public-DraftEditor-content {
    height: 100%;
    overflow: auto;
}

.button-editor {
    position: absolute;
    bottom: 16px;
    padding: 8px 16px;
    color: #6E718F;
    cursor: pointer;
    outline: none;
    background: #202020;
    border: none;
    border-radius: 32px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

h2 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

li {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.placeholder-h1::before { 
    content: "Add a title for your slide…";
    color: #9F9F9F;
    font-family: sans-serif;
    position: absolute;
    display: inline;
  }
  
.placeholder-li::before {
    content: "Start your bullet list here...";
    color: #9F9F9F;
    font-family: sans-serif;
    position: absolute;
    display: inline;
  }
  
.placeholder-h2::before {
    content: "Name your bullet list…";
    color: #9F9F9F;
    font-family: sans-serif;
    position: absolute;
    display: inline;
  }